<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast > Admin</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast > Admin</a></li>
            <li><a href="/a-profile" > <img src="{{ url_for('static', filename='img/avatar.png') }}" class="nav-img-icons user-avatar" alt=""> </a></li>
            <li><a href="/a-food" class="btn-normal btn-small">Food</a></li>
            <li><a href="/a-home" class="btn-normal btn-small">Home</a></li>
          </ul>
        </div>
      </nav>

       <section class="container featured box-row">
             <div class="">
               <h2 class="word-center">Orders</h2>
             </div>

             <div class="box-col-8">
               <div class="hello-message">
                 Hello Admin.
               </div>

               <div class="panel">
                 <div class="" id="orderdata">

                   </div>
                 </div>

               </div>
             </div>

       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->

  <script type="text/javascript">
  //check if token was created/ user is logged in
  if(!window.sessionStorage.getItem('token')){
    location.replace("/");
  }else {
    //check role
    userrole = window.sessionStorage.getItem('userrole');
    if (userrole!='admin') {
      location.replace("/menu");
    }
    token = window.sessionStorage.getItem('token');
  }

  //fetch cart details
  fetch('https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/orders/',
  {
    mode: 'cors',
    crossdomain: true,
    headers: { 'Content-Type': 'application/json; charset=utf-8', 'Authorization': 'Bearer '+token }
  })
  .then(response => response.json())
  .then(data => {
    order = data.Orders
    orderdata = document.getElementById('orderdata');
    order.forEach(function(orderitem){
      orderdata.innerHTML += '<div class="list-item"><div class="box-col-8"><b>'+orderitem.food_name+'</b> | Price: Ksh.'+orderitem.food_price+' | Qty: '+orderitem.quantity+' | Status: '+orderitem.status+' | Date: '+orderitem.createddate+'<div class="box-col-8"><img src="{{ url_for('static', filename='img/location.png') }}" class="location-icon" alt="">'+orderitem.client_adress+'. | Phone : '+orderitem.client_phone+' | By<i> '+orderitem.client_name+'</i>  <button type="button" class="btn-lightblue btn-small" id="'+orderitem.order_id+'" onclick="accepted(this.id)" name="button"> Accept</button><button type="button" class="btn-maroon btn-small" id="'+orderitem.order_id+'" onclick="declined(this.id)" name="button"> Decline</button><button type="button" class="btn-green btn-small" id="'+orderitem.order_id+'" onclick="completed(this.id)" name="button">Complete</button></div></div></div>';
    });
  })

    accepted = order_id => {
      status = 'accepted';
      url = 'https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/orders/'+order_id
      fetch(url, {
        method: 'PUT',
        body: JSON.stringify({
          status: status
        }),
        mode: 'cors',
        crossdomain: true,
        headers: { 'Content-Type': 'application/json; charset=utf-8', 'Authorization': 'Bearer '+token }
      })
      .then(response => response.json())
      .then(data => {
       window.location.replace("/a-home");
      });
    }

    declined = order_id => {
      status = 'declined';
      url = 'https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/orders/'+order_id
      fetch(url, {
        method: 'PUT',
        body: JSON.stringify({
          status: status
        }),
        mode: 'cors',
        crossdomain: true,
        headers: { 'Content-Type': 'application/json; charset=utf-8', 'Authorization': 'Bearer '+token }
      })
      .then(response => response.json())
      .then(data => {
       window.location.replace("/a-home");
      });
    }

    completed = order_id => {
      status = 'completed';
      url = 'https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/orders/'+order_id
      fetch(url, {
        method: 'PUT',
        body: JSON.stringify({
          status: status
        }),
        mode: 'cors',
        crossdomain: true,
        headers: { 'Content-Type': 'application/json; charset=utf-8', 'Authorization': 'Bearer '+token }
      })
      .then(response => response.json())
      .then(data => {
       window.location.replace("/a-home");
      });
    }

  </script>

  </body>
</html>
