<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast > Admin</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast > Admin</a></li>
            <li><a href="/a-profile" > <img src="{{ url_for('static', filename='img/avatar.png') }}" class="nav-img-icons user-avatar" alt=""> </a></li>
            <li><a href="/a-food" class="btn-normal btn-small">Food</a></li>
            <li><a href="/a-home" class="btn-normal btn-small">Home</a></li>
          </ul>
        </div>
      </nav>

       <section class="container featured box-row">
             <div class="">
               <h2 class="word-center">Edit Profile</h2>
             </div>

             <div class="box-col-8">
               <div class="panel">
                 <div class="">
                   <form class="form">
                     <span id="message"></span>
                       <label for="userName">User Name</label>
                       <input type="text" name="username" value="" class="input" id="username" placeholder="User Name" required>
                       <label for="userphone"> User Phone</label>
                       <input type="text" name="userphone" value="" class="input" id="userphone" placeholder="Phone Number" pattern=".{10,10}" title="10 characters" minlength="10" maxlength="10" required>
                       <label for="password"> Password</label>
                       <input type="password" name="password" value="" class="input" id="password" placeholder="Password" pattern=".{5,}" required>
                       <label for="confirmpass"> Confirm Password</label>
                       <input type="password" name="confirmpass" value="" class="input" id="confirmpass" placeholder="Confirm Password" pattern=".{5,}" required>
                     <br>
                     <div class="">
                       <button type="button" name="button" onclick="editprofile()" class="btn-orange btn-large">Submit</button>
                     </div>
                   </form>
                 </div>
               </div>
             </div>

       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->
  <script type="text/javascript">
  let username = document.getElementById('username').value;
  let userphone = document.getElementById('userphone').value;
  let password = document.getElementById('password').value;
  let confirmpass = document.getElementById('confirmpass').value;
  </script>
  <script src="static/js/admin-profile.js" charset="utf-8"></script>
  <script type="text/javascript">
  is_admin_logged_in();
  </script>
  </body>
</html>
