<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast > Admin</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast > Admin</a></li>
            <li><a href="/a-profile" > <img src="{{ url_for('static', filename='img/avatar.png') }}" class="nav-img-icons user-avatar" alt=""> </a></li>
            <li><a href="/a-food" class="btn-normal btn-small">Food</a></li>
            <li><a href="/a-home" class="btn-normal btn-small">Home</a></li>
          </ul>
        </div>
      </nav>

       <section class="container featured box-row">
             <div class="">
               <h2 class="word-center">Food</h2>
             </div>

             <div class="box-col-5">
               <div class="panel">
                 <div class="" id="food-data">


                   </div>
                 </div>
               </div>

               <div class="box-col-3">
                 <div class="panel">
                    <div class="">
                      <form class="form" enctype="multipart/form-data">
                        <h4>Add Food Item</h4>
                        <span id="message"></span>
                        <div class="">
                          <label for="food-name">Food Name</label>
                          <br>
                          <select name="food_name" id="food_name" required>
                            <option value=" ">Select food</option>
                            <option value="biriani">Biriani</option>
                            <option value="burger">Burger</option>
                            <option value="frenchfries">French fries</option>
                            <option value="grilledfish">Grilled Fish</option>
                            <option value="grilledmeat">Grilled Meat</option>
                            <option value="hotdog">Hotdog</option>
                            <option value="kaimati">Kaimati</option>
                            <option value="pizza">Pizza</option>
                          </select>
                        </div>
                        <div class="">
                          <label for="food-price"> Price</label>
                          <input type="text" id="food_price" name="food-price" value="" class="input" placeholder="Enter Food Price" required>
                        </div>
                        <br>
                        <div class="">
                          <button type="button" name="button" onclick="addfood()" class="btn-brown btn-large">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
               </div>

       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->
  <script type="text/javascript">
  let food_name = document.getElementById('food_name').value;
  let food_price = document.getElementById('food_price').value;
  let food_image = food_name+'.jpg';
  </script>
  <script src="static/js/admin-food.js" charset="utf-8"></script>
  <script type="text/javascript">
  is_admin_logged_in();
  admin_menu();
  </script>
  </body>
</html>
