<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast</a></li>
            <li><a href="/signup" class="btn-orange btn-small">Signup</a></li>
            <li><a href="/login" class="btn-normal btn-small">Login</a></li>
          </ul>
        </div>
      </nav>

      <section class="box-row container index-container">
         <div class="box-col-5">
           <div class="border-left-orange">
             <div class="header-caption-head">
                Hello! Welcome to Fast Food Fast.
             </div>
             <div class="header-caption-description">
               Bringing good mood food to your hood.
             </div>
           </div>
         </div>
         <div class="box-col-3">

         </div>
       </section>

       <section class="container featured box-row">
             <div class="">
               <h2 class="word-center">Featured</h2>
             </div>

               <div id="food-data">

               </div>

       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->
  <script src="static/js/index.js" charset="utf-8"></script>
  </body>
</html>
