<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast</a></li>
            <li><a href="/signup" class="btn-orange btn-small">Signup</a></li>
            <li><a href="/login" class="btn-normal btn-small">Login</a></li>
          </ul>
        </div>
      </nav>

      <section class="box-row container">
         <div class="box-col-5 header-caption">
           <div class="border-left-orange">
             <div class="header-caption-head">
                Hello! Welcome to Fast Food Fast.
             </div>
             <div class="header-caption-description">
               Bringing good mood food to your hood.
             </div>
           </div>
         </div>
         <div class="box-col-3">
           <div class="panel">
             <div class="">
              <div class="form">
                <h4 style="">Signup</h4>
                <span id="message"></span>
                <div class="">
                  <label for="userName">User Name</label>
                  <input type="text" name="username" value="" class="input" id="username" placeholder="User Name" required>
                </div>
                <div class="">
                  <label for="userphone"> User Phone</label>
                  <input type="text" name="userphone" value="" class="input" id="userphone" placeholder="Phone Number" required>
                </div>
                <div class="">
                  <label for="password"> Password</label>
                  <input type="password" name="password" value="" class="input" id="password" placeholder="Password" required>
                </div>
                <div class="">
                  <label for="confirmpass"> Confirm Password</label>
                  <input type="password" name="confirmpass" value="" class="input" id="confirmpass" placeholder="Confirm Password" required>
                </div>
                <br>
                <div class="">
                  <button type="submit" name="button" onclick="signup()" class="btn-orange btn-large btn-wide">Submit</button>
                </div>
                Already have an account? <a href="/login">Login</a>
              </div>
             </div>
           </div>
         </div>
       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->

  <script type="text/javascript">


  signup = () => {
    username = document.getElementById('username').value;
    userphone = document.getElementById('userphone').value;
    password = document.getElementById('password').value;
    confirmpass = document.getElementById('confirmpass').value;

    fetch('https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/auth/signup',
    {
      method: 'POST',
      body: JSON.stringify({
        username: username,
        userphone: userphone,
        password: password,
        confirmpass: confirmpass
      }),
      mode: 'cors',
      crossdomain: true,
      headers: { 'Content-Type': 'application/json; charset=utf-8'}
    })
    .then(response => response.json())
    .then(data => {
      console.log(data)
      message = document.getElementById('message');
      message.style.backgroundColor = "#5bc0de";
      message.style.borderLeft = "5px solid orange";
      message.style.color = "white";
      message.style.padding = "5px";
      message.style.width = "100%";
      message.style.display = "block";
      message.style.borderRadius = "5px";
      message.innerHTML = data.message;
    })
  }

  </script>
  </body>
</html>
