<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast</a></li>
            <li><a href="/profile" > <img src="{{ url_for('static', filename='img/avatar.png') }}" class="nav-img-icons user-avatar" alt=""> </a></li>
            <li><a href="/order" > <span class="cart-items" id="cart"></span> <img src="{{ url_for('static', filename='img/carticon.png') }}" class="nav-img-icons" alt=""> </a></li>
            <li><a href="/order">Ksh.<span id="cart_total_price"></span> </a></li>
            <li><a href="/history" class="btn-normal btn-small">History</a></li>
            <li><a href="/menu" class="btn-normal btn-small">Menu</a></li>
          </ul>
        </div>
      </nav>

       <section class="container featured box-row">
             <div class="">
               <h2 class="word-center">History</h2>
             </div>

             <div class="box-col-8">
               <div class="panel">
                 <div class="" id="historydata">


                 </div>
               </div>
             </div>

       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->

  <script type="text/javascript">

  window.addEventListener('load', function () {
    //check if token was created/ user is logged in
    if(!window.sessionStorage.getItem('token')){
      location.replace("/");
    }else {
      token = window.sessionStorage.getItem('token');
    }

    //fetch cart quantity and totalprice
    cart = () => {
      fetch('https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/users/cart_quantity', {
        mode: 'cors',
        crossdomain: true,
        headers: { 'Content-Type': 'application/json; charset=utf-8', 'Authorization': 'Bearer '+token }
      })
      .then(response => response.json())
      .then(data => {
        let cart_quantity = document.getElementById('cart');
        cart_quantity.innerHTML = data.Cart
        let cart_total_price = document.getElementById('cart_total_price');
        cart_total_price.innerHTML = data.totalprice
      })
    }

    cart();

    //fetch cart details
    fetch('https://emmanuelbeja-fast-food-fast.herokuapp.com/v2/users/orders', {
      mode: 'cors',
      crossdomain: true,
      headers: { 'Authorization': 'Bearer '+token }
    })
    .then(response => response.json())
    .then(data => {
      if(data.message=='Logged out. Please login and update token') {
        location.replace("/login");
      }
      orders = data.Orders

      console.log(data.Orders[0].food_name);
      console.log(data['Orders']);
      i = 0;
      orders.forEach(function(order){
        let historydata = document.getElementById('historydata');
        historydata.innerHTML += '<div class="list-item"><div class="box-col-8">'+order.food_name+' | Price: Ksh.'+order.food_price+' | Qty: '+order.quantity+' Date: '+order.createddate+' | Status: <span class="'+order.status+'">'+order.status+'</span></div></div>';
        i++;
      });
    })
  }, false);
  </script>

  </body>
</html>
