<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Fast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

  <!-- header start-->
  <div class="header">
    <div class="bg-color">

      <nav class="navbar-default nav-top">
        <div class="nav-container">
          <a class="navbar-brand" href="/">Fast Food Fast</a>

          <ul class="nav-right">
            <li class="navbar-brand-responsive"> <a href="/">Fast Food Fast</a></li>
            <li><a href="/profile" > <img src="{{ url_for('static', filename='img/avatar.png') }}" class="nav-img-icons user-avatar" alt=""> </a></li>
            <li><a href="/order" > <span class="cart-items" id="cart"></span> <img src="{{ url_for('static', filename='img/carticon.png') }}" class="nav-img-icons" alt=""> </a></li>
            <li><a href="/order">Ksh.<span id="cart_total_price"></span> </a></li>
            <li><a href="/history" class="btn-normal btn-small">History</a></li>
            <li><a href="/menu" class="btn-normal btn-small">Menu</a></li>
          </ul>
        </div>
      </nav>

       <section class="container featured box-row">
             <div class="">
               <h2 class="word-center"> Menu</h2>
             </div>

             <div id="food-data">

             </div>

       </section>

    </div>
  </div>
  <!-- header end -->

  <!-- footer start -->
  <footer class="footer">
      © Copyright. All Rights Reserved
  </footer>
  <!-- footer end -->

  <script type="text/javascript">

  //check if token was created/ user is logged in
  if(!window.sessionStorage.getItem('token')){
    location.replace("/");
  }else {
    token = window.sessionStorage.getItem('token');
  }

  //fetch cart quantity and totalprice
  cart = () => {
    fetch('http://127.0.0.1:5000/v2/users/cart_quantity')
    .then(response => response.json())
    .then(data => {
      let cart_quantity = document.getElementById('cart');
      cart_quantity.innerHTML = data.Cart
      let cart_total_price = document.getElementById('cart_total_price');
      cart_total_price.innerHTML = data.totalprice
    })
  }

  cart();

    //fetch menu
    fetch('http://127.0.0.1:5000/v2/menu')
    .then(response => response.json())
    .then(data => {
      foods = data.Foods
      fooditem = document.getElementById('food-data');
      foods.forEach(function(food){
        fooditem.innerHTML += '<div class="box-col-2"><div class="food-panel"><img src="static/img/'+food.food_image+'" '+
        'class="food-image" alt=""><div class="food-panel-content"><div class="food-title text-fit">'+food.food_name+'</div>'+
        '<div class="food-description"><span class="price text-fit">Ksh.'+food.food_price+'</span><span class="span-add-to-cart">'+
        '<a href="javascript:;" id="'+food.food_id+'" onclick="pick_food(this.id)" class="btn-brown btn-large btn-wide">Add to Cart.<img src="static/img/add.png" class="food-add-icon" '+
        'style="height:20px;width:20px;" alt=""></a></span></div></div><div></div>';
      });
    })

    //add to cart
    pick_food = (food_id) => {
      cart();
      let url = 'http://127.0.0.1:5000/v2/users/pick_food/'+food_id;
      fetch(url)
      .then(response => response.json())
      .then(data => {
      //cart();
        //window.location.reload(true);
        //location.reload();
      }, cart());
      //location.reload();
    };

  </script>

  </body>
</html>
